@{
	ViewData["Title"] = "Link";
}
<section id="content">
    <div class="div-main">
        <div class="div-main-indent">
            <div class="container_24">
                <div class="wrapper">
                    <div class="grid_24">
                        <h2 class="padd-3">useful link</h2>
                    </div>
                    <div class="grid_12">
                        <h3 class="bot-1-1">Aenean auctor wisi</h3>
                        <div class="box-13">
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.  </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.dui. Fusce feugiat malesuada odio. Morbi nunc od.</p>

                        </div>
                        <h3 class="bot-1-1 top-4">Sed ut perspiciatis unde</h3>
                        <div class="box-13">
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.  </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.dui. </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsdolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                        </div>
                    </div>
                    <div class="grid_12">
                        <h3 class="bot-1-1">Suspendisse sollicitudin </h3>
                        <div class="box-14">
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.dui. </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsdolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                        </div>
                        <h3 class="bot-1-1 top-5">Fusce feugiat malesuada </h3>
                        <div class="box-14">
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                            <a href="#" class="bold col hov">www.demolink.org</a>
                            <p class="bot-0-1">SSed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.dui. Fusce feugiat malesuada odio. Morbi nunc od.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>