@{
	ViewData["Title"] = "Home Page";
}	<div class="div-main" id="marg-1">
		<div class="div-main-indent">
			<div class="light-banner">
				<div class="container_24">
					<div class="wrapper">
						<div class="grid_24">
							<div class="box-1">
								<p>
								Nơi Cá Koi Được <a href="#">Chăm Sóc </a>Như Những Viên Ngọc Của Nước – Chúng Tôi Cam Kết Mang Lại Sức Khỏe Vững Bền Và Vẻ Đẹp Tinh Túy Cho Mỗi Chuyển Động Trong Hồ Nước Của Bạn
								</p>
							</div>
						</div>
						<div class="grid_12 suffix_1">
							<div class="box-2 bot bdb">
								<img src="images/page-img.jpg" alt="" class="fleft">
								<div class="extra-wrap line-h-1">
									<a href="#" class="h2">Marine Plants</a>
									<p>
										Praesent tibulum molestie lacueno meraderas
										yhe ndrerit maurisketyde asellus porta. Asertasaese gaser kasrta
										batoque nertyades.
									</p>
								</div>
							</div>
						</div>
						<div class="grid_11">
							<div class="box-3  bot bdb">
								<img src="images/page-img-1.jpg" alt="" class="fleft">
								<div class="extra-wrap line-h-1">
									<a href="#" class="h2">Cleaning Devices</a>
									<p>
										Tasbulum molestie lacueno mera naseta
										yhe ndrerit mauris ketyade. Phasellus porta. Fusce suscipit vari
										usiasera.
									</p>
								</div>
							</div>
						</div>
						<div class="grid_12 suffix_1 bdb-1">
							<div class="box-2">
								<img src="images/page-img-3.jpg" alt="" class="fleft">
								<div class="extra-wrap line-h-1">
									<a href="#" class="h2">Freshwater Fish</a>
									<p>
										Bashe ndrerit mauris ketyasellus porta atrses.
										Kusce suscipit vari usiasera umociseras natoqueser nertyades viasera
										keweuytase.
									</p>
								</div>
							</div>
						</div>
						<div class="grid_11 bdb-1">
							<div class="box-3">
								<img src="images/page-img-2.jpg" alt="" class="fleft">
								<div class="extra-wrap line-h-1">
									<a href="#" class="h2"><span>New</span> For Sale</a>
									<p>
										Casesent tibulum molueno meryhe ndrerit Phasellus porta. Fusce
										suscipit vari usiasera um soci iseras natoque nertyades.
									</p>
								</div>
							</div>
						</div>
						<div class="grid_24 padd bdb"></div>
						<div class="grid_5 suffix_1">
							<div class="box-5 bg-right">
								<h2 class="padd-1">Categories</h2>
								<ul class="list">
									<li><a href="#">Kerode Miaersyde </a></li>
									<li><a href="#">Naserta Fasderase</a></li>
									<li><a href="#">Buvenas</a></li>
									<li><a href="#">Miaersy Berose Kerta</a></li>
									<li><a href="#">Lertyas Ferase</a></li>
									<li><a href="#">Buvenas Sedacera</a></li>
									<li><a href="#">Nertyade Kertaseas</a></li>
									<li><a href="#">Leroaser Miasera</a></li>
									<li><a href="#">Sedan Deras</a></li>
									<li><a href="#">Berodeer</a></li>
								</ul>
							</div>
						</div>
						<div class="grid_10">
							<div class="box-6 bg-right-1">
								<h2 class="padd-1">fresh publications</h2>
								<div class=" box-4 top">
									<img src="images/page-img-4.jpg" alt="" class="fleft right ">
									<div class="extra-wrap">
										<span class="bold dis-block top-1">Praesent tileueno meras</span>
										<p class="bot-1">
											asendrer ms ketyade. Phaselluse porta. Fususcipit
											varsi aserase usociatoque nertyades.
										</p>
										<a href="#" class="button">read more</a>
									</div>
								</div>
								<div class="wrapper-extra top bot-2">
									<img src="images/page-img-5.jpg" alt="" class="fleft right ">
									<div class="extra-wrap">
										<span class="bold dis-block top-1">Naesrtie lacueno vasera</span>
										<p class="bot-1">
											asendrer ms ketyade. Phaselluse porta. Fususcipit
											varsi aserase usociatoque nertyades.
										</p>
										<a href="#" class="button">read more</a>
									</div>
								</div>
							</div>
						</div>

						<div class="grid_8">
							<h3 class="top-2"><a href="#">our articles</a></h3>
							<p class="top-0 bdb-2">
								Bertase dolor sit amet conectu edipisc eratsertas era
								onmyhe ndrerit mauris ketyade.
							</p>
							<h3><a href="#">marine fish</a></h3>
							<p class="bdb-3 top-0-1">
								Miasyer conectu eradipiscing dolor sitertas aseratre
								ondrerit mauris maseratd tyade.
							</p>
							<h3><a href="#">our Consulting</a></h3>
							<p class="top-0-1">
								Dolor sit amet conectu eradipi nalasasr ketyadeastre
								lertakaseasellus porcsuscipit.
							</p>
						</div>

					</div>
</div>
			</div>
		</div>
	</div>
