* + html {
    overflow: auto;
}

.sf-menu li {
}

.sf-menu > li > ul {
    behavior: url(js/PIE.htc);
    left: 20px;
    top: 74px;
}

.sf-menu li li ul {
    behavior: url(js/PIE.htc);
}

ul.sf-menu > li {
    padding: 23px 29px 20px 28px;
    font-size: 19px;
}

h3 {
    font-size: 22px;
}
