@import url(http://fonts.googleapis.com/css?family=Damion); /*font-family: 'Damion', cursive;*/
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700); /*font-family: 'Comfortaa', cursive;*/
@import url(http://fonts.googleapis.com/css?family=Italianno); /*font-family: 'Italianno', cursive;*/
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline;
}

/* Global properties ======================================================== */
html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #6e6e6e;
    background: url(../images/bg-body.jpg) 0 0 repeat;
    min-width: 1070px;
}

.main {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: url(../images/bg-main.jpg) center 0 no-repeat;
}

.main-1 {
    width: 100%;
    height: auto;
    max-height: 100%;
    background: url(../images/bg-main-1.png) center bottom no-repeat;
    padding-bottom: 44px;
}
/***********************************************************************/
/*properties for h1 h2 h3 h4 h5 and another text*/
.logo {
    width: auto;
    position: relative;
    margin: 24px 0 0 0;
    text-align: center;
}

h1 {
    display: block;
    font-family: 'Damion', cursive;
    text-align: right;
    width: 300px;
    margin: 0 auto;
    padding-right: 56px;
}

    h1 a {
        display: inline-block;
        background: url(../images/logo.png) 0 0 no-repeat;
        width: 273px;
        height: 85px;
    }


h2 {
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    color: #4f4f4f;
    line-height: 29px;
    font-weight: normal;
    text-transform: uppercase;
}

.h2 {
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    color: #393939;
    line-height: 29px;
    font-weight: normal;
    padding-left: 29px;
    background: url(../images/arrow-h2.png) left 5px no-repeat;
    text-transform: uppercase;
}

    .h2 span {
        color: #fe6217;
    }

    .h2:hover {
        color: #fe6217;
    }

h3 {
    font-size: 23px;
    font-family: 'Comfortaa', cursive;
    color: #45d7e5;
    line-height: 29px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: bold;
}

    h3 a {
        color: #45d7e5;
    }

        h3 a:hover {
            color: #000;
        }

h4 {
}

.txt_uppercase {
    text-transform: uppercase;
}

.txt_decor {
    text-decoration: none !important;
}

.txt_al {
    text-align: center;
}

.txt_al-r {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.txt_norm {
    text-transform: none !important;
}

.line-h-1 {
    line-height: 19px;
}

.ff-1 {
    font-family: 'Italianno', cursive;
    font-size: 43px;
    line-height: 55px;
}

.ff-2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.font-14 {
    font-size: 14px;
}

.font-24 {
    font-size: 24px;
}

.hov:hover {
    color: #29d3e3;
}

.border-none {
    border: none !important;
}

.dis-block {
    display: block;
}

.dis-inblock {
    display: inline-block;
}

.col {
    color: #6e6e6e;
}

.col-1 {
    color: #353535;
}

.marg_bot {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.marg_top {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.marg_left-0 {
    margin-left: 0 !important;
}

.marg_right-0 {
    margin-right: 0 !important;
}

.marg-left-right-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.marg {
    margin: 0 !important;
    padding: 0 !important;
}

.marg_20 {
    margin-top: 20px !important;
}

.padding_right {
    padding-right: 0 !important;
}

.padding_left {
    padding-left: 0 !important;
}

.padding {
    padding: 0px !important;
}

.padd {
    margin: -1px 5px 38px 5px !important;
}

.padd-1 {
    margin-bottom: 20px;
    padding-top: 5px;
}

.padd-2 {
    margin: 45px 0 30px 0
}

.padd-3 {
    margin: 45px 0 25px 0
}

.padd-4 {
    margin: 45px 0 20px 0
}

.padd-4-1 {
    margin: 45px 0 3px 80px;
}

.padd-4-2 {
    margin: 45px 0 3px 40px;
}

.padd-5 {
    margin: 45px 0 20px 0
}

.top {
    padding-top: 8px;
}

.top-0 {
    padding-top: 14px;
}

.top-0-1 {
    padding-top: 11px;
}

.top-0-2 {
    margin-top: 8px;
}

.top-1 {
    margin-top: 3px;
}

.top-2 {
    margin-top: 5px;
}

.top-3 {
    margin-top: 18px;
}

.top-4 {
    margin-top: 31px;
}

.top-5 {
    margin-top: 32px;
}

.bot {
    margin-bottom: 14px;
}

.bot-0 {
    margin-bottom: 16px;
}

.bot-0-1 {
    margin-bottom: 18px;
}

.bot-1 {
    margin-bottom: 7px;
}

.bot-1-1 {
    margin-bottom: 11px;
}

.bot-2 {
    padding-bottom: 23px;
}

.bot-2-1 {
    padding-bottom: 20px;
}

.bot-2-2 {
    margin-bottom: 20px;
}

.bot-3 {
    margin-bottom: 26px;
}

.bot-4 {
    padding-bottom: 43px;
}

.left {
    margin-left: 50px;
}

.right {
    margin-right: 9px;
}

.right-1 {
    margin-right: 11px;
}

.right-2 {
    margin-right: 21px;
}


.divider {
    border-bottom: 1px solid #e9e7e0;
    margin: 47px 0 45px 0;
}
/*properties for a */

a {
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
    }

ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
}

.button {
    display: inline-block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #353535;
}

    .button:hover {
        color: #45d7e5;
    }

/******************************************************************/
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    width: 100%;
}

.wrapper {
    overflow: hidden;
}

.wrapper-extra {
    overflow: hidden;
}

.extra-wrap {
    overflow: hidden;
}

.wrapper-after:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}
/*search and tooltip*/
/*********************************header*************************************/
.head {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 59px;
}

header {
    width: 1070px;
    margin: 0 auto;
    position: relative;
    background: url(../images/bg-head.png) center 0 no-repeat;
}

.indent-pages {
    padding-bottom: 39px;
}

.menu {
    padding: 30px 0 20px 143px;
}
/*********************************content*************************************/
#content {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}

.lightbox-image {
    display: inline-block;
    position: relative;
}

    .lightbox-image img.magnify {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 50%;
        top: 50%;
    }

#map_canvas {
    width: 311px;
    height: 229px;
}

.adress {
    margin-top: 26px;
    font-weight: 500;
    font-size: 13px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

    .adress dd {
        text-align: left;
    }

    .adress a {
        color: #6e6e6e;
        display: inline-block;
        font-size: 13px;
    }

        .adress a:hover {
            color: #29d3e3;
            text-decoration: underline;
        }

    .adress span {
        display: inline-block;
        width: 91px;
    }

    .adress strong {
        display: inline-block;
        font-weight: 500 !important;
    }

.title1 {
    text-align: left;
    font-size: 13px;
    margin: 0 0 0 0;
    display: inline-block;
    font-weight: bold;
    color: #6e6e6e;
}

.pp {
    display: inline-block;
}

    .pp a {
        text-decoration: underline;
    }
/**********************************index***********************************/
.div-main {
    width: 1070px;
    margin: 0 auto;
    background: url(../images/bg-content.png) center 0 repeat-y;
}

.div-main-indent {
    width: 1070px;
    margin: 0 auto;
}

    .div-main-indent .container_24 {
        margin: 0 0 0 53px !important;
        padding-bottom: 25px;
        border-bottom: 1px solid #e4e4e4;
    }

.light-banner {
    background: url(../images/light-content.png) center 0 no-repeat;
}

#marg-1 {
    margin-top: -125px;
}


.box-1 {
    font-size: 24px;
    line-height: 32px;
    color: #7d7864;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px #e9e4d2;
    padding: 138px 0 54px 0;
    border-bottom: 1px solid #e9e7e0;
    margin-bottom: 33px;
}

    .box-1 p {
        margin: 0 40px;
    }

    .box-1 a {
        color: #fe9308;
    }

        .box-1 a:hover {
            color: #1c83a7;
        }

.box-2 {
    overflow: hidden;
    padding-bottom: 30px;
}

    .box-2 img {
        margin-left: 30px;
        margin-right: 28px;
    }

    .box-2 .extra-wrap {
        margin: 25px 0 0 0;
    }

    .box-2 p {
        margin: 10px 0 0 0;
    }

.box-3 {
    overflow: hidden;
    padding-bottom: 30px;
}

    .box-3 img {
        margin-left: 21px;
        margin-right: 28px;
    }

    .box-3 .extra-wrap {
        margin: 25px 0 0 0;
    }

    .box-3 p {
        margin: 10px 0 0 0;
    }

.bdb {
    border-bottom: 1px solid #eaeaea;
}

.list {
}

    .list li {
        background: url(../images/bg-li-list.png) left 10px no-repeat;
        font-size: 14px;
        line-height: 17px;
        padding: 6px 0 7px 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

        .list li a {
            color: #29d3e3;
        }

            .list li a:hover {
                color: #000;
            }

.box-5 {
    width: 191px;
    padding-right: 10px;
}

.box-6 {
    width: 351px;
    padding-right: 10px;
}

.bg-right {
    background: url(../images/bg-right.jpg) right 0 repeat-y;
}

.bg-right-1 {
    background: url(../images/bg-right.jpg) right 0 repeat-y;
}

.box-4 {
    overflow: hidden;
    width: 310px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 22px;
    margin-bottom: 14px;
}

.bdb-2 {
    padding-bottom: 23px;
    margin-bottom: 17px;
    border-bottom: 1px solid #eaeaea;
}

.bdb-3 {
    padding-bottom: 24px;
    margin-bottom: 19px;
    border-bottom: 1px solid #eaeaea;
}
/**********************************slider**********************************/
.box-slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
}

.roundabout {
    height: 406px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 620px;
    position: relative;
    z-index: 10;
}

.roundabout-moveable-item {
    cursor: pointer;
    height: 402px;
    text-align: center;
    width: 507px;
}

    .roundabout-moveable-item img {
        width: 100%;
    }

.roundabout-in-focus {
    cursor: auto;
}

.prev {
    background: url(../images/prev-button.png) 0 bottom no-repeat;
    width: 26px;
    height: 48px;
    display: block;
    position: absolute;
    left: 27px;
    top: 189px;
}

    .prev:hover {
        background-position: 0 0;
    }

.next {
    background: url(../images/next-button.png) 0 bottom no-repeat;
    width: 26px;
    height: 48px;
    display: block;
    position: absolute;
    right: 31px;
    top: 189px;
}

    .next:hover {
        background-position: 0 0;
    }
/**********************************index-1*********************************/
.bg-right-2 {
    background: url(../images/bg-right.jpg) 282px 0 repeat-y;
}

.bg-right-3 {
    background: url(../images/bg-right.jpg) 322px 0 repeat-y;
}

.box-7 {
    width: 231px;
    background: url(../images/bg-right.jpg) right 0 repeat-y;
    margin: 45px 0 0 0;
    padding-right: 50px;
}

    .box-7 h2 {
        margin-bottom: 30px;
    }

.box-8 {
    width: 269px;
    background: url(../images/bg-right.jpg) right 0 repeat-y;
    margin: 45px 0 0 0;
    padding-right: 52px;
}

    .box-8 h2 {
        margin-bottom: 25px;
    }

.box-9 {
    width: 231px;
    background: url(../images/bg-right.jpg) right 0 repeat-y;
    padding-right: 50px;
    padding-bottom: 26px;
}

    .box-9 h2 {
        margin-bottom: 25px;
    }

.bdb-4 {
    padding-bottom: 29px;
    margin-bottom: 24px;
    border-bottom: 1px solid #eaeaea;
}

.box-10 {
    width: 351px;
    background: url(../images/bg-right.jpg) right 0 repeat-y;
    padding-right: 50px;
    padding-bottom: 12px;
}

    .box-10 h2 {
        margin-bottom: 25px;
    }

    .box-10 .ff-2 {
        margin-top: -20px;
    }

    .box-10 .ff-1 {
        margin-top: 4px;
    }

.box-11 {
    background: url(../images/bg-right.jpg) 38px 0 repeat-y;
    padding-left: 80px;
    padding-top: 27px;
}
/**********************************index-2*********************************/

/**********************************index-3*********************************/
.box-12 {
    background: url(../images/bg-right.jpg) 0 0 repeat-y;
    padding-left: 40px;
    margin-top: 45px;
}

    .box-12 h2 {
        margin-bottom: 25px;
    }
/**********************************index-4*********************************/
.box-13 {
    padding-left: 20px;
}

.box-14 {
    padding-left: 22px;
}
/**********************************index-5*********************************/
.box-15 {
    background: url(../images/bg-right.jpg) 0 0 repeat-y;
    margin-top: 45px;
    padding-left: 40px;
}

    .box-15 h2 {
        margin-bottom: 30px;
    }
/**********************************index-6*********************************/
.box-16 {
    background: url(../images/bg-right.jpg) 680px 0 repeat-y;
    margin-top: 45px;
    padding-right: 81px;
}

    .box-16 h2 {
        margin-bottom: 25px;
    }
/**********************************contact-form****************************/
#form1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #6e6e6e;
    padding-bottom: 30px;
}

    #form1 input {
        color: #6e6e6e;
        padding: 10px 0 13px 15px;
        outline: none;
        background: #eeeeee;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 13px;
        height: 16px;
        width: 334px;
        float: left;
        border-left: 1px solid #f7f7f7;
        position: relative;
    }

    #form1 textarea {
        overflow: auto;
        width: 534px;
        height: 260px;
        resize: none;
        float: left;
        color: #6e6e6e;
        padding: 9px 0 0 15px;
        background: #eeeeee;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 13px;
        border-left: 1px solid #f7f7f7;
    }

    #form1 label {
        display: block;
        min-height: 47px;
        width: auto;
        position: relative;
    }

        #form1 label .feed_name {
            display: block;
            float: left;
        }

        #form1 label.message {
            display: block;
            padding-bottom: 0;
        }

    #form1 span {
        display: block;
        margin: 0px 0 6px 3px;
        float: left;
        width: 165px;
    }

    #form1 .error, #form1 .empty, #form1 .success {
        display: none;
        text-align: left;
        color: #000;
        margin-bottom: 3px;
    }

    #form1 .error, #form1 .empty {
        text-align: left;
        color: #ff0e0e;
        font-size: 11px;
        float: left;
        line-height: 13px;
        padding-top: 3px;
        width: 165px;
        display: none;
    }

    #form1 .message .empty {
        position: static;
        margin: 5px 0 5px 5px;
        text-align: left;
    }

    #form1 .buttons2 {
        position: relative;
        padding: 15px 0 0 0;
    }

        #form1 .buttons2 .button {
            float: right;
        }

            #form1 .buttons2 .button:hover {
            }

.error-empty {
    margin: 0 0 10px 5px !important;
    display: none;
    float: left !important;
    width: 165px;
    word-spacing: -1px;
}
/****************************footer************************/
footer {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9c9c9c;
    text-transform: uppercase;
    text-align: center;
}

.main-footer {
    width: 1070px;
    background: url(../images/bg-content.png) center 0 repeat-y;
    margin: 0 auto;
    padding: 30px 0 20px 0;
}

.main-footer-1 {
    width: 1070px;
    background: url(../images/bg-footer-bot.png) 0 0 no-repeat;
    height: 42px;
    margin: 0 auto;
}

.main-foot-1 {
    width: 1030px;
    margin: 0 auto;
}

footer img {
    margin: 6px 0 0 0;
}

footer a {
    color: #9c9c9c;
}

    footer a:hover {
        color: #000;
    }
