nav {
    position: relative;
    width: auto;
    margin: 4px 0 0 0;
}

.sf-menu {
    display: block;
}

    .sf-menu ul {
        position: absolute;
        top: -999px;
        display: none;
        z-index: 999;
    }

    .sf-menu a {
        display: block;
    }

    .sf-menu li:hover ul, .sf-menu li.sfHover ul {
        z-index: 999;
    }

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999px;
    display: none;
    z-index: 999
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 100%;
    top: 0;
    z-index: 999
}

ul.sf-menu > li {
    background: url(../images/bg-li.png) left 0 no-repeat;
    font-family: 'Comfortaa', cursive;
    position: relative;
    font-size: 20px;
    float: left;
    font-weight: bold;
    padding: 23px 30px 20px 30px;
}

    ul.sf-menu > li:first-child {
        background: none;
    }

    ul.sf-menu > li > a {
        display: block;
        padding: 0 0 0 0;
        color: #fff;
        text-shadow: 1px 1px #53dcf5;
    }

        ul.sf-menu > li > a strong {
            width: 20px;
            height: 10px;
            display: none;
            position: absolute;
            background: url(../images/bg-li-strong.png) 0 0 no-repeat;
        }

#a-1 strong {
    left: 45px;
    top: -12px;
}

#a-2 strong {
    left: 72px;
    top: -17px;
}

#a-3 strong {
    left: 53px;
    top: -19px;
}

#a-4 strong {
    left: 45px;
    top: -19px;
}

#a-5 strong {
    left: 45px;
    top: -18px;
}

#a-6 strong {
    left: 70px;
    top: -13px;
}

ul.sf-menu > li.current, ul.sf-menu > li.sfHover, ul.sf-menu > li:hover {
}

    ul.sf-menu > li.current > a, ul.sf-menu > li.sfHover > a, ul.sf-menu > li > a:hover {
    }

        ul.sf-menu > li.current > a strong, ul.sf-menu > li.sfHover > a strong, ul.sf-menu > li > a:hover strong {
            display: block;
        }


.sf-menu > li > ul {
    left: 16px;
    top: 75px;
    width: 134px;
    padding: 15px 0 15px 0;
    z-index: 99;
    background: url(../images/bg-li-ul.jpg) 0 0 repeat-x #06788d;
    border-radius: 19px;
}


    .sf-menu > li > ul > li {
        font-size: 14px;
        border-top: 1px solid #2aa2b1;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 17px;
        text-transform: none;
        font-weight: normal;
        margin: 0 17px;
        text-align: center;
        padding: 8px 0;
    }

        .sf-menu > li > ul > li:first-child {
            border-top: none;
        }

        .sf-menu > li > ul > li > a {
            display: inline-block;
            color: #fff;
        }

        .sf-menu > li > ul > li:hover, ul.sf-menu > li > ul > li.sfHover {
        }

            .sf-menu > li > ul > li > a:hover, ul.sf-menu > li > ul > li.sfHover a {
                color: #7ff3ff;
            }

.sf-menu li li ul {
    left: 134px !important;
    top: 38px !important;
    display: block;
    width: 134px;
    background: url(../images/bg-li-li-ul.jpg) 0 0 repeat-x #07a5bf;
    padding: 15px 0 15px 0;
    border-radius: 19px;
}

.sf-menu li li li {
    float: none;
    border-top: 1px solid #3bc1d2;
    margin: 0 17px;
    text-align: left;
    padding: 7px 0 7px 10px;
}

    .sf-menu li li li:first-child {
        border: none;
    }

    .sf-menu li li li a {
        display: inline-block;
        color: #fff !important;
    }


    .sf-menu li li li:hover {
    }

    .sf-menu li li li a:hover {
        color: #317b86 !important;
    }
