@{
	ViewData["Title"] = "FAQs";
}	
<section id="content">
    <div class="div-main">
        <div class="div-main-indent">
            <div class="container_24">
                <div class="wrapper">
                    <div class="grid_7">
                        <h2 class="padd-4">list of questions</h2>
                        <ul class="list">
                            <li><a href="#">Aenean nonummy hendrerit?</a></li>
                            <li><a href="#">Phasellus porta. Fusce suscipit?</a></li>
                            <li><a href="#">Cum sociis natoque penatibus?</a></li>
                            <li><a href="#">Et magnis dis parturient?</a></li>
                            <li><a href="#">Montes, nascetur ridiculus mus?</a></li>
                            <li><a href="#">Nulla dui. Fusce feugiat?</a></li>
                            <li><a href="#">Morbi nunc odio, gravida at?</a></li>
                            <li><a href="#">Cursus nec, luctus a, lorem?</a></li>
                            <li><a href="#">Maecenas tristique orci ac sem?</a></li>
                            <li><a href="#">Duis ultricies pharetra magna? </a></li>
                            <li><a href="#">Donec accumsan malesuada? </a></li>
                            <li><a href="#">Donec sit amet eros?</a></li>
                        </ul>
                    </div>
                    <div class="grid_17">

                        <div class="box-12">
                            <h2>frequently asked questions</h2>
                            <a href="#" class="bold col hov">Q.: Nam elit magna, hendrerit sit amet ac sed, nulla. Donec porta diam eu massa? </a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros.
                            </p>
                            <a href="#" class="bold col hov">Q.: Donec porta diam eu massa. Quisque diam lorem, interdum vitae?</a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros.
                            </p>
                            <a href="#" class="bold col hov">Q.: Proin dictum elementum velit. Fusce euismod? </a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros.
                            </p>
                            <a href="#" class="bold col hov">Q.: Neque porro quisquam est, qui dolorem ipsum quia dolor?  </a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                            </p>
                        </div>
                    </div>
                </div><!--the end of wrapper-->
            </div>
        </div>
    </div>
</section>